/* classes to specify margin between items */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.voffset10 { margin-top: 300px; }
.voffset11 { margin-top: 400px; }

@font-face {
    font-family: 'Burgues Script';
    font-style: normal;
    font-weight: 200;
    src: local('Burgues Script'), url('fonts/4d436237636cf4843a2b3af336b8f9dd.woff') format('woff');
    }

@font-face {
    font-family: 'cylburn';
    font-style: normal;
    font-weight: 200;
    src: local('cylburn regular'), url('fonts/cylburn.woff') format('woff');
    }

@font-face {
    font-family: 'calibre';
    font-style: normal;
    font-weight: normal;
    src: local('Calibre Regular'), url('fonts/calibre-regular.woff') format('woff');
    }

 @font-face {
    font-family: 'baroqueScript';
    font-style: normal;
    font-weight: normal;
    src: local('Baroque Script'), url('fonts/BaroqueScript.woff') format('woff');
    }

    
a {
    color: black;
    text-decoration: underline;
}  
  
.andSymbol {
    font-family: baroqueScript;
    font-size: 2rem;
}


body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.title{
    color: #efa283;
    font-family: 'Baskervville', serif;
    font-size: .8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}
.titleBlack {
    color: #242a2a;
    font-family: 'Baskervville', serif;
    font-size: .8rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
}

.header{
    color: #efa283;
    font-family: 'Baskervville', serif;
    line-height: 1.4;
    text-align: center;
}

.namesScript {
    color: #efa283;
    font-family: 'Cylburn';
    font-size: 4.5rem;
    line-height: 4rem;
}

.cover {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.travelInfo {
    margin-top: 0;
    background-color: #efa283;
}

.travelInfoText {
    font-family: 'Baskervville', serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #242a2a;
}
.travelInfoTextItalic {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: .9rem;
    line-height: 1.5;
    color: #242a2a;
}

.travelInfoScript {
    font-family: Burgues Script;
    text-align: center;
    color: #242a2a;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
}

.largerInfo {
    font-size: 1.2rem;
}

.navbar {
    background-color: transparent;
  }


.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

/*  */
/* font color is #efa283 */